<div class="contenedor-paginas">
  <div  *ngFor="let item of counter(pags); let i = index">
      <button (click)="paginacion(i+1)">{{i+1}}</button>
  </div>
</div>
<div class="contenido-tabla">
  <div class="card">
    <div class="card-header">
        Lista de Inventario
        <button *ngIf="role=='ADMIN_ROLE'" type="button" class="float-right" (click)="open2()">AGREGAR NUEVO</button>
    </div>
    <div class="card-body table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>IMAGEN</th>
                    <th>PRODUCTO</th>
                    <th>MARCA</th>
                    <th>MODELO</th>
                    <th>NÚMERO DE SERIE</th>
                    <th>DESCRIPCIÓN</th>
                    <th>ARTÍCULOS</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of showDevices">
                    <td><img src="../../../../assets/340719-200.png" alt=""></td>
                    <td> <h5>{{item.nombre}}</h5></td>
                    <td> <h5>{{item.marca}}</h5></td>
                    <td> <h5>{{item.modelo}}</h5></td>
                    <td> <h5>{{item.serie}}</h5></td>
                    <td> <h5>{{item.descripcion}}</h5></td>
                    <td> <h5>{{item.numArticulos}}</h5></td>
                    <td>
                        <div class="dropdown">

                          <fa-icon [icon]="faElipsisV" class="dropdown" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false"></fa-icon>

                        <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" (click)="open(item._id)">Ver detalles</a>
                          <a (click)="editar(item)" *ngIf="item.estado==1 && role=='ADMIN_ROLE'" class="dropdown-item">Editar</a>
                          <a (click)="asignar(item)" *ngIf="item.estado==1 && role=='ADMIN_ROLE'" class="dropdown-item">Asignar</a>
                          <a class="dropdown-item" *ngIf="item.estado==2 && role=='ADMIN_ROLE'" (click)="regresar(item)">Regresar</a>
                          <a class="dropdown-item" (click)="crearIgual(item)" *ngIf="role=='ADMIN_ROLE'">Crear uno igual</a>
                          <a (click)="QR(item._id)" class="dropdown-item">Imprimir código QR</a>
                        </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>




